.sec2 {
    background-image: url("../img/sec2-bg.jpg");
    padding-top: 110px;

    @include media(w1366) {
        padding-top: 80px;
    }

    @include media(w1366) {
        padding-top: 40px;
    }

    &__row-container {
        font-size: 0;
        position: relative;
        white-space: nowrap;

        @include media(w500) {
            padding: 0;
        }
    }

    &__col {
        display: inline-block;
        vertical-align: top;
        white-space: normal;

        @include media(w1024) {
            display: block;
        }

        @include media(w500) {
            padding: 0 15px;
        }

        &_left {
            width: 55%;

            @include media(w1024) {
                text-align: center;
                margin-bottom: 40px;
                width: 100%;
            }
        }

        &_right {
            text-align: right;
            width: 45%;

            @include media(w1024) {
                text-align: left;
                width: 100%;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        
        @include media(w1024) {
            margin: 0 auto;
            max-width: 60%;
        }

        @include media(w768) {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    &__number-container {
        display: inline-block;

        @include media(w500) {
            display: block;
            text-align: center;
        }
    }

    &__number {
        color: $main-red;
        font-family: "Bully",sans-serif;
        font-size: 360px;
        line-height: 0.8;

        @include media(w1366) {
            font-size: 280px;
        }

        @include media(w500) {
            font-size: 200px;
        }
    }

    &__number-img {
        display: inline-block;
        width: 80%;
    }

    &__bottom {
        background-color: rgba(221,73,78,0.9);
        padding-top: 60px;
        padding-bottom: 90px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        @include media(w1366) {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        @include media(w1024) {
            position: static;
        }
    }

    &__bottom-container {
        

        br {
            @include media(w1024) {
                display: none;
            }
        }

        @include media(w1024) {
            text-align: center;
        }
        
    }

    &__img-container {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    &__img {
        position: absolute;

        @include media(w1024) {
            display: none;
        }

        &_mountain {
            bottom: 0;
            right: 0;
            width: 65%;
            z-index: 2;
        }

        &_auto {
            //transform: rotate(-26deg) translate(60%, 15%);
            transform: rotate(-21deg) translate(0, 0);
            //left: 20%;
            right: 37%;
            bottom: 0%;
            width: 45%;
        }

        &_move {
            animation: sec2AutoMove 1.4s linear forwards alternate;
        }

        &_mauto {
            display: none;
            pointer-events: none;
            width: 64%;

            @include media(w1024) {
                display: block;
                right: 0;
                bottom: 0;
            }

            @include media(w768) {
                width: 80%;
            }

            @include media(w500) {
                position: static;
                width: 100%;
            }
        }
    }
}

@keyframes sec2AutoMove {

    25% {
        transform: rotate(-22deg) translate(20%, 0);
    }

    50% {
        transform: rotate(-24deg) translate(40%, 6%);
    }

    75% {
        transform: rotate(-26deg) translate(60%, 15%);
    }

    100% {
        transform: rotate(-27deg) translate(80%, 18%);
    }

    // 50% {
    //     transform: rotate(-25deg);
    //     right: 16%;
    //     bottom: 11%;
    // }

    // 75% {
    //     transform: rotate(-26deg);
    //     right: 6%;
    //     bottom: 19%;
    // }

    // 100% {
    //     transform: rotate(-26deg);
    //     right: 2%;
    //     bottom: 22%;
    // }
}