* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "PTSans", sans-serif;
    position: relative;
    line-height: 1.2;
    min-width: 320px;
}

.icon-download {
    margin-left: 4px;
    padding-top: 4px;
}
.icon-auto.icon-auto {
    //stroke: $main-red;
    fill: $main-red;
}
.show-modal {
    overflow: hidden;
}
.show-get-call-modal {

    .g-modal_get-call {
        opacity: 1;
        visibility: visible;
    }
}
.show-request-modal {

    .g-modal_request {
        opacity: 1;
        visibility: visible;
    }
}
.show-thanks-modal {

    .g-modal_thanks {
        opacity: 1;
        visibility: visible;
    }
}