@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
    url('../fonts/OpenSans/OpenSans-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'),
    url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"),
    url('../fonts/OpenSans/OpenSans-Semibold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans-Regular.eot");
    src: url("../fonts/PTSans/PTSans-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
    url("../fonts/PTSans/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype"),
    url('../fonts/PTSans/PTSans-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans-Bold.eot");
    src: url("../fonts/PTSans/PTSans-Bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
    url("../fonts/PTSans/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype"),
    url('../fonts/PTSans/PTSans-Bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Bully";
    src: url("../fonts/Bully/Bully.eot");
    src: url("../fonts/Bully/Bully.eot?#iefix")format("embedded-opentype"),
    url('../fonts/Bully/Bully.woff2') format('woff2'),
    url("../fonts/Bully/Bully.woff") format("woff"),
    url("../fonts/Bully/Bully.ttf") format("truetype"),
    url('../fonts/Bully/Bully.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}