.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-svg--icon-auto-1 {
	font-size:(82/10)*1rem;
	width:(89.9/82)*1em;
}
.icon-svg--icon-auto-2 {
	font-size:(82.5/10)*1rem;
	width:(65.5/82.5)*1em;
}
.icon-svg--icon-auto-3 {
	font-size:(82.4/10)*1rem;
	width:(105.2/82.4)*1em;
}
.icon-svg--icon-auto-4 {
	font-size:(79/10)*1rem;
	width:(65/79)*1em;
}
.icon-svg--icon-auto-5 {
	font-size:(70.4/10)*1rem;
	width:(89.5/70.4)*1em;
}
.icon-svg--icon-auto-6 {
	font-size:(83.3/10)*1rem;
	width:(83/83.3)*1em;
}
.icon-svg--icon-auto-7 {
	font-size:(83.3/10)*1rem;
	width:(81/83.3)*1em;
}
.icon-svg--icon-auto-8 {
	font-size:(76/10)*1rem;
	width:(65.5/76)*1em;
}
.icon-svg--icon-auto-9 {
	font-size:(70.4/10)*1rem;
	width:(89.5/70.4)*1em;
}
.icon-svg--icon-download {
	font-size:(18/10)*1rem;
	width:(16/18)*1em;
}
