footer.footer
    div.container.footer__container
        div.footer__note
            div.footer__col
                p.footer__text.footer__text_mb.
                    © 2017, «OrenDACAR»
                div.footer__social
                    div.footer__social-text.footer__text.
                        Мы в соц. сетях
                    div.footer__social-icons
                        a.footer__social-icon-link(href="")
                            img.footer__social-icon-img(src="img/icon-vk.png", alt="")
                        a.footer__social-icon-link(href="")
                            img.footer__social-icon-img(src="img/icon-fb.png", alt="")
                        a.footer__social-icon-link(href="")
                            img.footer__social-icon-img(src="img/icon-telegram.png", alt="")
                a.footer__social-link.footer__social-link_politic.footer__show-note(href="").
                    Политика конфиденциальности
            div.footer__col
                p.footer__text.footer__text_adress.
                    Наш офис: Оренбург,<br> пр. Гагарина, 43/6
                a.footer__social-link.footer__social-link_politic.footer__show-pc(href="").
                    Политика конфиденциальности
            div.footer__col
                div.footer__mail.footer__show-pc
                    span.footer__text.
                        e-mail: 
                    a.footer__social-link.footer__social-link_mail(href="mailto:dacar56oren@gmail.com").
                        dacar56oren@gmail.com
            div.footer__col.footer__col_contacts
                a.footer__social-link.footer__social-link_phone(href="tel:89033606010").
                    8 903 360-60-10
                a.footer__social-link.footer__social-link_call.js-get-call(href="tel:89033606010").
                    Заказать звонок
                div.footer__mail.footer__show-note
                    span.footer__text.
                        e-mail: 
                    a.footer__social-link.footer__social-link_mail(href="mailto:dacar56oren@gmail.com").
                        dacar56oren@gmail.com
        div.footer__mobile
            a.footer__social-link.footer__social-link_phone(href="tel:89033606010").
                8 903 360-60-10
            a.footer__social-link.footer__social-link_call(href="tel:89033606010").js-get-call.
                Заказать звонок
            div.footer__social
                div.footer__social-text.footer__text.
                    Мы в соц. сетях
                div.footer__social-icons
                    a.footer__social-icon-link(href="")
                        img.footer__social-icon-img(src="img/icon-vk.png", alt="")
                    a.footer__social-icon-link(href="")
                        img.footer__social-icon-img(src="img/icon-fb.png", alt="")
                    a.footer__social-icon-link(href="")
                        img.footer__social-icon-img(src="img/icon-telegram.png", alt="")
            p.footer__text.footer__text_adress.
                Наш офис: Оренбург, пр. Гагарина, 43/6
            a.footer__social-link.footer__social-link_mail(href="mailto:dacar56oren@gmail.com").
                dacar56oren@gmail.com
            p.footer__text.footer__text_mb.
                © 2017, «OrenDACAR»
            a.footer__social-link.footer__social-link_politic(href="").
                Политика конфиденциальности