header.header
    div.header__container
        a.header__logo(href="")
            img.header__logo-img(src="img/header-logo.png", alt="OrendaCar")
            div.header__logo-text-container
                p.header__logo-text-bold.title.title_s.
                    OrenDACAR
                p.header__logo-text-reg.text.text_xs.
                    Ваш личный сервис<br> проката автомобилей
        div.header__contacts
            a.header__phone(href="tel:89033606010").title.title_s.
                8 903 360-60-10
            a.header__get-call.text.text_s.js-get-call(href="").
                Заказать звонок
            p.header__logo-text-reg.text.text_xs.header__logo-text_mobile.
                Ваш личный сервис проката автомобилей






