div.g-modal.g-modal_get-call
    form.g-modal__form
        div.g-modal__close
        p.g-modal__form-title.
            Заказать звонок
        //input(type="text" placeholder="Ваш город" required="").g-input.g-modal__form-input
        input(type="text" name="name" placeholder="Имя" required="").g-input.g-modal__form-input
        input(type="tel" name="phone" placeholder="Телефон" required="").g-input.g-modal__form-input.js-input-tel
        button.btn-round.btn-round_bg_red.g-modal__form-btn.
            Заказать
div.g-modal.g-modal_request
    form.g-modal__form
        div.g-modal__close
        p.g-modal__form-title.
            Оставьте заявку на презентацию франшизы
        input(type="text" name="name" placeholder="Имя" required="").g-input.g-modal__form-input
        input(type="tel" name="phone" placeholder="Телефон" required="").g-input.g-modal__form-input.js-input-tel
        input(type="email" name="mail" placeholder="E-mail" required="").g-input.g-modal__form-input
        button.btn-round.btn-round_bg_red.g-modal__form-btn.
            Заказать
