div.section.active.fp-noscroll
    section.sec.sec1
        div.container.color-white.ta-center
            include header
            h1.heading.heading_xxl.
                Бизнес на аренде автомобилей
            div.sec1__text-container
                p.text.text_xxl.sec1__text.
                    Заработайте свои первые 3,5 миллиона уже через год
                button.btn-round.btn-round_bg_white.js-reguest
                    |Скачать презентацию
                    svg.icon.icon-download
                        use(xlink:href="#svg--icon-download")
        img.sec1__auto(src="img/sec1-auto.png", alt="")