div.section.fp-noscroll
    section.sec.sec2
        div.container.sec2__row-container
            div.sec2__col.sec2__col_left
                p.title.title_xxl.sec2__title.
                    Ежегодно в России сдаётся в аренду больше 2 000 автомобилей
                p.text.text_l.text_pts.sec2__text.
                    Люди берут автомобили в аренду на время ремонта своего авто, в командировках и путешествиях. Это востребованная услуга, рынок которой растёт до 20% каждый год.
            div.sec2__col.sec2__col_right
                div.sec2__number-container
                    div#sec2__number.sec2__number.
                        2000
                    img.sec2__number-img(src="img/sec2-cars.png", alt="")
            img.sec2__img.sec2__img_mauto(src="img/sec2-mauto.png", alt="")
        div.sec2__bottom
            div.container.sec2__bottom-container
                p.title.title_m.color-white.
                    По оценкам экспертов, объём рынка аренды<br> авто в 2016 году составил от 2 до 4 млн $
                button.btn-round.btn-round_bg_white.js-reguest
                    |Скачать презентацию
                    svg.icon.icon-download
                        use(xlink:href="#svg--icon-download")
        div.sec2__img-container
            img.sec2__img.sec2__img_mountain(src="img/sec2-mountain.png", alt="")
            img.sec2__img.sec2__img_auto(src="img/sec2-auto.png", alt="")
