div.section
    section.sec.sec3
        img(src="img/sec3-bg.jpg", alt="").sec3__img-cars
        div.container.sec3__container
            p.title.title_xxl.sec3__title.
                OrenDACAR – лидер Оренбургской области в сфере аренды автомобилей
            div.sec3__row
                div.sec3__col.sec3__col_list
                    div.sec3__list
                        div.sec3__list-item
                            div.sec3__list-img-container
                                div.sec3__list-img-text.sec3__list-img-text_big.
                                    2003
                                img(src="img/sec3-icon-auto.png", alt="").sec3__list-img.sec3__list-img_auto
                            div.sec3__list-text
                                p.text.text_l.text_pts.
                                    Мы появились в 2003 году, и сейчас владеем одним из самых крупных автопарков.
                        div.sec3__list-item
                            div.sec3__list-img-container
                                div.sec3__list-img-text.sec3__list-img-text_big
                                    |70
                                    span.sec3__list-img-text.sec3__list-img-text_cars.
                                        авто
                                img(src="img/sec3-icon-cars.png", alt="").sec3__list-img.sec3__list-img_cars
                            div.sec3__list-text
                                p.text.text_l.text_pts.
                                    В наличии – 70 автомобилей под любые запросы. Стоимость – от 1 650 до 7 000 рублей.
                        div.sec3__list-item
                            div.sec3__list-img-container
                                div.sec3__list-img-text.sec3__list-img-text_document.
                                    машины<br> застрахованы
                                img(src="img/sec3-icon-documents.png", alt="").sec3__list-img.sec3__list-img_documents
                            div.sec3__list-text
                                p.text.text_l.text_pts.
                                    Все машины застрахованы, обязательства по ремонту и обслуживанию несём мы. Наши клиенты не думают об автомобиле – они просто ездят на нём.
                div.sec3__col.sec3__col_facts
                    div.sec3__facts.color-white
                        p.text.text_l.text_pts.
                            Клиенты выбирают<br> нас за безупречный сервис<br> и огромный выбор автомобилей.<br> Благодаря этому нам удаётся делать <strong>23,7 млн рублей выручки</strong> ежегодно
                        button.btn-round.btn-round_bg_white.sec3__btn.js-reguest
                            |Скачать презентацию
                            svg.icon.icon-download
                                use(xlink:href="#svg--icon-download")
        img(src="img/sec3-cars.png", alt="").sec3__img-auto


