div.section.fp-auto-height
    section.sec.sec41
        div.sec4__footer
            div.container.sec4__footer-container.color-white
                div.sec4__footer-col.sec4__footer-col_left
                    p.title.title_l.sec4__footer-text.
                        Детальный состав франчайзингового пакета смотрите в нашей презентации 
                div.sec4__footer-col.sec4__footer-col_right
                    button.btn-round.btn-round_bg_white.sec4__footer-btn.js-reguest
                        |Скачать презентацию
                        svg.icon.icon-download
                            use(xlink:href="#svg--icon-download")
                    p.text.text_l.sec4__footer-file-info.
                        PDF, 15Mb