div.section.fp-auto-height
    section.sec.sec51
        div.sec5__footer
            div.container.sec5__footer-container
                img.sec5__footer-img(src="img/highlander.png", alt="")
                div.sec5__footer-text
                    p.title.title_l.sec5__footer-title.
                        Постепенно вы выкупите все автомобили и образуете ваш личный автопарк
                    button.btn-round.btn-round_bg_red.sec5__footer-btn.js-reguest
                        |Открыть бизнес