div.section
    section.sec.sec5
        div.sec5__top
            div.container
                p.title.title_xxl.sec5__title.
                    Для старта не нужно приобретать<br> сразу 70 автомобилей
                p.text.text_l.text_pts.
                    Вам необходимо 250 000 рублей на франшизу и 60 000 рублей<br> на офис. Основные вложения придутся на оформление авто<br> в лизинг: 2,8 млн рублей.
                div.sec5__price
                    p.sec5__price-number.
                        250000 руб.
                    p.sec5__price-descr.title.title_s.
                        на франшизу
                div.sec5__price
                    p.sec5__price-number.
                        60000 руб.
                    p.sec5__price-descr.title.title_s.
                        на аренду офиса
                div.sec5__price
                    p.sec5__price-number.
                        2,5 млн руб.
                    p.sec5__price-descr.title.title_s.
                        лизинг авто