div.section.fp-auto-height
    section.sec.sec6
        //img.sec6__img-bg(src="img/sec5-bg.jpg", alt="")
        div.container.sec6__container.color-white
            p.title.title_xxl.ta-center.sec6__title.
                Начните зарабатывать на аренде автомобилей больше 270 000 рублей 
            p.title.title_xl.ta-center.sec6__subtitle.
                уже через 4 месяца после старта
            div.sec6__form-container
                p.title.title_xl.ta-center.sec6__form-title.
                    Проверьте статус вашего города:
                p.text.text_xl.text_pts.ta-center.
                    Возможно, мы уже нашли потенциального партнёра для открытия филиала?
                form.sec6__form
                    input.sec6__form-input(type="text" placeholder="Ваш город" required="").g-input.
                    input.sec6__form-input(type="tel" placeholder="Телефон" required="").g-input.js-input-tel
                    input.sec6__form-input(type="email" placeholder="E-mail" required="").g-input.
                    button.btn-round.btn-round_bg_red.sec6__form-btn.
                        Проверить
        div.sec6__img-container
            img.sec6__img-auto(src="img/sec4-auto.png", alt="")
    include footer

